/* Fonts */
@font-face {
  font-family: 'monofonto';
  src: url("../fonts/monofonto.woff2") format('woff2');
}

/* CSS variables */
:root {
  --blue-dark: #1a4886;
  --blue-primary: #447AB9;
  --blue-light: #82A7D6;
  --yellow-primary: #FEF265;
  --yellow-dark: #c2aa50;
  --yellow-light: #FCE8A4;
  --yellow-extra-light: #FEEED4;
  --black-color: #1A1A1A;
}

/* Classes */
.title-img {
  width: 3rem;
}

.overseer-font {
  font-family: 'overseer', sans-serif;
}

.monofonto-font {
  font-family: 'monofonto', sans-serif;
}

.bg-black-color {
  background-color: var(--black-color);
}

.bg-blue-dark-color {
  background-color: var(--blue-dark);
}

.yellow-primary-color {
  color: var(--yellow-primary);
}

.yellow-light-color {
  color: var(--yellow-light);
}

.yellow-dark-color {
  color: var(--yellow-dark);
}

.yellow-extra-light-color {
  color: var(--yellow-extra-light);
}

.logo-text {
  font-family: 'monofonto', sans-serif;
  color: var(--yellow-dark);
}

/* Nav styles */
.navbar-nav {
  .nav-link {
    color: var(--yellow-dark) !important;
  }

  .nav-link[aria-current="page"] {
    color: var(--yellow-primary) !important;
    font-weight: bold;
  }
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Animations */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Global styles */
body {
  background-color: var(--black-color);
  color: var(--yellow-extra-light);
  margin: 0;
  font-family: sans-serif;
}

/* Carrusel */

#carouselNews {
  max-width: 600px;
  margin: 0 auto 2rem;
}

.news-section {
  max-width: 900px;
  margin: 0 auto;
}